.chat_us{
    position:fixed;
    left:20px;
    bottom:20px;

    width:75px;
    height:75px;

    border-radius:50%;
    background:#28a745;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    color:#fff;
    text-decoration:none;
}

.chat_us i{
    font-size:26px;
    line-height:1;
}

.chat_us span{
    font-size:12px;
    line-height:1;
    margin-top:3px;
}

.chat_us:hover{
    transform:scale(1.1);
    color:#fff;
}

@keyframes chatboot{

0%{

transform:scale(1);

}

50%{

transform:scale(1.08);

}

100%{

transform:scale(1);

}

}

@media(max-width:576px){

.chat_us{
    width:55px;
    height:55px;
    font-size:28px;
    left:15px;
    bottom:15px;
}

}

.chat_us span{
    font-size:9px;
}




