.card{

border:none;

transition:.3s;

}

.card:hover{

transform:translateY(-5px);

}

.card img{

height:420px;

object-fit:cover;

}

.badge{

font-size:15px;

padding:8px 14px;

}

.btn{

border-radius:10px;

}

@media(max-width:768px){

.card img{

height:260px;

}

h1{

font-size:30px;

}

}

@media(max-width:576px){

.card img{

height:220px;

}

}