/* HERITAGE DETAIL */

.heritage-image{

height:450px;

object-fit:cover;

}

.card{

transition:.3s;

}

.card:hover{

transform:translateY(-5px);

}

iframe{

border:none;

}

@media(max-width:991px){

.heritage-image{

height:320px;

}

}

@media(max-width:768px){

.heritage-image{

height:250px;

}

.card-body{

padding:25px;

}

h1{

font-size:30px;

}

}

@media(max-width:576px){

.heritage-image{

height:200px;

}

.card-body{

padding:18px;

}

h1{

font-size:26px;

}

}