/* SERVICE PAGE */

.card{

transition:.3s;

overflow:hidden;

}

.card:hover{

transform:translateY(-8px);

box-shadow:0 15px 30px rgba(0,0,0,.15);

}

.service-img{
height:250px;
object-fit: cover;
transition:.4s;
}

.card:hover .service-img{

transform:scale(1.05);

}

.badge{

font-size:14px;

}

.btn{

border-radius:8px;

}

@media(max-width:768px){

.service-img{

height:220px !important;

}

h1{

font-size:30px;

}

}

@media(max-width:576px){

.service-img{

height:200px !important;
object-fit: contain !important;
width: 100%;
background: #f8f9fa;

}

.card-body{

padding:18px;

}

}