.whatsapp-float{

position:fixed;

right:20px;

bottom:20px;

width:60px;

height:60px;

background:#25D366;

color:#fff;

display:flex;

justify-content:center;

align-items:center;

font-size:32px;

border-radius:50%;

text-decoration:none;

box-shadow:0 8px 20px rgba(0,0,0,.25);

z-index:9999;

transition:.3s;

animation:whatsapp 2s infinite;

}

.whatsapp-float:hover{

transform:scale(1.1);

color:white;

}

@keyframes whatsapp{

0%{

transform:scale(1);

}

50%{

transform:scale(1.08);

}

100%{

transform:scale(1);

}

}

@media(max-width:576px){

.whatsapp-float{

width:55px;

height:55px;

font-size:28px;

right:15px;

bottom:15px;

}

}




